<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test PhotoAlbum</title>
</head>
<body>
    <div class="container">
        <h2>Hello world</h2>
        <p>stuff is what stuff is this is just some filler text. Wild boar jerky that costs $16 per ounce. Is it worth it?
        I don't know but tastes pretty nice. I think this is enough text to fill up a few lines. Nope not quite, I'll just keep
        rambling on here for a little longer. Foo, foo, bar, foo foo bar.</p>

        {% for image in images %}

            {% if (loop.index - 1) % 4 === 0 %}
                <div class="row vertically-spaced-row">
            {% endif %}

                <div class="three columns">
                    <div class="responsive-img-container">
                        <img src="{{image}}" alt="cat pic">
                        <div class="img-overlay">
                            <label>
                                <input type="checkbox">
                            </label>
                        </div>
                    </div>
                </div>

            {% if (loop.index - 1) % 4 === 3 %}
                </div>
            {% endif %}
        {% endfor %}

    </div>
    <script type="text/javascript" src="/public/homepage.js"></script>
</body>
</html>